:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("./assets/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

@media only screen and (min-width: 1001px) {
  html {
    font-size: 10px;
  }
  body {
    margin: 2rem 2rem;
  }
 }

@media only screen and (max-width: 1000px) {
  html {
    font-size: 9px
  }
  body {
    margin: 2.5rem 1rem;
  }
 }